/*abbreviations*/
/* CDF stands for current date forecast */

/* default page styling */
*{
    padding: 0;
    margin: 0;
}

/* page body styling */
body{
    padding: 0;
    margin: 0;
}

/* h1 tag styling */
h1{
    color: white;
}

/* label tag styling */
label{
    font-size: 35px;
}

/* p tag styling */
p{
    margin: 0;
    padding: 0;
}

/* background styling for header of page */
#header-weather{
    background: linear-gradient(to right, #00ccff 45%,#6600ff );
}

/* background color for cards */
.bg-color-card{
    background-color: #0099CC;
}

/* background color for CDF */
.bg-color-CDF{
    background-color: #d1e0e0;
}

/* style to apply a bottom border */
.bottom-border{
    border-bottom: 3px solid grey;
}

/* style to apply a bottom margin */
.bottom-margin{
    margin-bottom: 1rem;
}

/* edits or additions to bootstrap classes */
/* card-text class edit to bottom margin */
.card-text{
    margin-bottom: 5%;
}

/* card class edit to padding left */
.card{
    padding-left: 5% ;
}




